---
import Container from "../ui/Container.astro";
import IconMueble from "../icons/IconMueble.astro";
import IconColor from "../icons/IconColor.astro";
import IconEnvio from "../icons/IconEnvio.astro";
---

<section class="py-16 sm:py-24 relative  w-full overflow-hidden flex items-center">
    <Container>
       <div class="flex flex-row w-full items-center justify-center gap-24">
            <div class="flex flex-col items-center justify-center text-center gap-y-4">
                <IconMueble size="lg" />
                <h2 class="font-bold text-xl">MODELOS PREDISEÑADOS</h2>
                <p class="max-w-sm">Diseños inspirados en el mobiliario moderno actual, pensados para ofrecer funcionalidad, estética y practicidad en cada espacio.</p>
            </div>
            <div class="flex flex-col items-center justify-center text-center gap-y-4">
                <IconColor size="lg" />
                <h2 class="font-bold text-xl">SELECCION DE COLOR</h2>
                <p class="max-w-sm">Cada modelo puede fabricarse con distintos tipos y colores de placas de melamina, para que elijas la terminación que mejor se adapte a tu hogar.</p>
            </div>
            <div class="flex flex-col items-center justify-center text-center gap-y-4">
                <IconEnvio size="lg" />
                <h2 class="font-bold text-xl">ENVIOS</h2>
                <p class="max-w-sm">Realizamos envíos a todo el país, coordinando la entrega para que tu mueble llegue de forma segura y en el menor tiempo posible.</p>
            </div>
       </div>
    </Container>
</section>