---
import Container from "../ui/Container.astro";
import HomeCard from "../ui/HomeCard.astro";

import image1 from "../../../public/images/hero.jpg"
---
<section class="py-16 sm:py-24 bg-dark-800  w-full flex items-center">
    <Container>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-6 overflow-hidden">
            <HomeCard src={image1}/>
            <HomeCard src={image1}/>
            <HomeCard src={image1}/>
        </div>
    </Container>
</section>