---
import Container from "../ui/Container.astro";
import DockStats from "../ui/DockStats.astro";
---

<section class="py-20 sm:py-28 relative w-full ">
    <Container>
        <div class="flex items-center justify-center">
        <DockStats/>
        </div>
       
    </Container>
</section>