---
import Container from "../ui/Container.astro";
import DockStats from "../ui/DockStats.astro";
---

<section class="py-16 sm:py-28 relative w-full overflow-hidden flex items-center">
    <Container>
        <DockStats/>
    </Container>
</section>