---
import Container from "../../components/ui/Container.astro";
import ProductPage from "../../components/products/ProductPage.tsx";
import BaseLayout from "../../layouts/BaseLayout.astro";
import ProductAccordion from "../../components/ui/ProductAccordion.tsx";

const { product } = Astro.params;

if (!product) {
  return new Response("Producto no especificado", { status: 400 });
}

---

<BaseLayout>
  <main>
    <Container>
      <ProductPage client:load product={product} />
      <ProductAccordion client:load product={product} />
    </Container>
  </main>
</BaseLayout>