<button type="submit" class="m-12 p-2 px-4 relative rounded-sm shadow-[0_6px_12px_rgba(0,0,0,0.45)]  cursor-pointer uppercase font-bold z-10 overflow-hidden
before:content-[''] before:bg-[var(--color-brand-accent)]/50 before:absolute before:w-full before:h-full before:right-0 before:bottom-0 before:z-1 before:transform 
before:-translate-x-[110%] hover:before:translate-x-0 before:duration-700"
 >Enviar Mail</button>
