---
import "../styles/global.css";
import Header from "../components/layout/Header.astro";
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Google Fonts: DM Sans -->
    <link href="https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap" rel="stylesheet">


    <slot name="head" />
  </head>

  <body class="bg-brand-base text-brand-wood antialiased">
    <Header />
    <main>
      <slot />
    </main>
  </body>
</html>
