---
import UnderlinedText from "./UnderlinedText.astro";
import FormButton from "../ui/buttons/FormButton.astro";
---

<form id="contact-form" class="w-full">
  <div
    class="
      mx-auto my-6 w-full max-w-[420px]
      md:my-0 md:mx-0 md:w-full md:max-w-none
      lg:max-w-[640px]
      rounded-2xl
      bg-[color:var(--color-brand-base)]
      px-6 py-8
      shadow-lg
      sm:px-8 sm:py-10
      md:px-10 md:py-12
      sm:shadow-2xl
    "
  >
    <div class="mb-8 text-center md:mb-10">
      <UnderlinedText text="Formulario de Contacto" size="md" />
    </div>

    <div class="flex flex-col items-center">
      <label for="email" class="sr-only">Email</label>
      <input
        id="email"
        type="email"
        name="email"
        placeholder="Email"
        class="w-full max-w-md py-2 border-b-2 border-[var(--color-brand-accent)]/30 bg-transparent focus:outline-none focus:border-[var(--color-brand-accent)] transition-all duration-300 ease-linear"
      />

      <label for="asunto" class="sr-only">Asunto</label>
      <input
        id="asunto"
        type="text"
        name="asunto"
        placeholder="Asunto"
        class="w-full max-w-md py-2 mt-5 border-b-2 border-[var(--color-brand-accent)]/30 bg-transparent focus:outline-none focus:border-[var(--color-brand-accent)] transition-all duration-300 ease-linear"
      />

      <label for="mensaje" class="sr-only">Mensaje</label>
      <textarea
        id="mensaje"
        name="mensaje"
        placeholder="Mensaje"
        rows="5"
        class="w-full max-w-md py-2 mt-5 border-b-2 border-[var(--color-brand-accent)]/30 bg-transparent resize-none focus:outline-none focus:border-[var(--color-brand-accent)] transition-all duration-300 ease-linear"
      ></textarea>

      <div class="mt-8 w-full max-w-md flex justify-center">
        <FormButton>ENVIAR MAIL</FormButton>
      </div>
    </div>
  </div>
</form>



<script>
  const form = document.getElementById("contact-form");
  const button = document.getElementById("button-form");

  if (!(form instanceof HTMLFormElement)) {
    throw new Error("No se encontró el form #contact-form");
  }

  if (!(button instanceof HTMLButtonElement)) {
    throw new Error("No se encontró el botón");
  }

  form.addEventListener("submit", async (e) => {
    e.preventDefault();

    button.classList.add("is-forced")
    button.textContent = "Enviando...";
    button.disabled = true;

    const res = await fetch("/api/contact", {
      method: "POST",
      body: new FormData(form),
    });

    if (res.ok) {
      button.textContent = "Enviado ✔";
    } else {
      button.textContent = "Error";
    }
    setTimeout(() => {
        form.reset();
        button.classList.remove("is-forced")
        button.textContent = "Enviar Mail";
        button.disabled = false;
      }, 1000);
  });
</script>

